/.cproject
/compile
/config.guess
/config.h
/config.h.in
/config.h.in~
/config.log
/config.status
/config.sub
/configure
/depcomp
/INSTALL
/install-sh
/libtool
/ltmain.sh
/Makefile
/Makefile.in
/missing
/src/.deps/libcurlhttpsrc_la-gstcurlhttpsrc.Plo
/src/.deps/libcurlhttpsrc_la-libcurlhttpsrc.Plo
/src/.libs/libcurlhttpsrc.exp
/src/.libs/libcurlhttpsrc.la
/src/.libs/libcurlhttpsrc.lai
/src/.libs/libcurlhttpsrc.so
/src/.libs/libcurlhttpsrc.ver
/src/.libs/libcurlhttpsrc_la-gstcurlhttpsrc.o
/src/gstaudiofilter.c
/.project
/aclocal.m4
/AUTHORS
/autom4te.cache/output.0
/autom4te.cache/output.1
/autom4te.cache/output.2
/autom4te.cache/requests
/autom4te.cache/traces.0
/autom4te.cache/traces.1
/autom4te.cache/traces.2
/src/libcurlhttpsrc.la
/src/libcurlhttpsrc_la-gstcurlhttpsrc.lo
/src/Makefile
