/.cproject
/.settings
/compile
/config.guess
/config.h
/config.h.in
/config.h.in~
/config.log
/config.status
/config.sub
/configure
/depcomp
/INSTALL
/install-sh
/libtool
/ltmain.sh
/Makefile
/Makefile.in
/missing
/src/.deps
/src/.libs
/src/gstaudiofilter.c
/.project
/aclocal.m4
/autom4te.cache
/src/libcurlhttpsrc.la
/src/libcurlhttpsrc_la-gstcurlhttpsrc.lo
/src/Makefile
/src/Makefile.in
